<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>The Charity</title>
    {% load static %}
    <!-- Required meta tags -->
    {% include "style.html" %}
</head>
<body>
    {% include "model-header.html" %}
    
    <div class="container">
        <h2 class="sub">Validar Doações</h2>
        <table class="table">
            <thead>
				<tr>
					<th scope="col">Causa</th>
					<th scope="col">Valor Doado</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ação</th>
				</tr>
			</thead>
            {% for doacao in doacoes %}
                {% if doacao.pago == False %}
                    <tbody>
                        <tr>
                            <td> {{doacao.causa.titulo}} </td>
                            <td> R$ {{doacao.valor}} </td>
                            <td> {{doacao.usuario.username}} </td>
                            <td> {{doacao.data}} </td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Validar </button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 10000;">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"><strong>Validar doação</strong></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Deseja VALIDAR esta doação?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar
                                                    </button>
                
                                                    <a href="/validar/confirm/{{ doacao.id }}">
                                                        <button type="button" class="btn btn-success">Validar</button>
                                                    </a>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1"> Rejeitar </button>
                                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 10000;">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"><strong>Rejeitar doação</strong></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Deseja REJEITAR esta doação?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar
                                                    </button>
                
                                                    <a href="/validar/reject/{{ doacao.id }}">
                                                        <button type="button" class="btn btn-success">Confirmar</button>
                                                    </a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                        
                    </tbody>
                {% endif %}
                
			{% endfor %}
            
        </table>
    </div>

    <script>
        function confirm_donate(){
            if(confirm('Tem certeza que deseja validar esta doação ?')){
                document.formDonate.submit();
            }
        }
    </script>
    {% if evento %}

    {% include "model-footer.html" with teste=evento %}
    {% else %}
        {% include "model-footer.html" %}
    {% endif %}
    {% include "model-js.html" %}
</body>
</html>