<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>The Charity</title>
    {% load static %}
    <!-- Required meta tags -->
    {% include "style.html" %}
</head>
<body>
    {% include "model-header.html" %}
    
    <div class="container">
        <h2 class="sub">Validar Doações</h2>
        <table class="table">
            <thead>
				<tr>
					<th scope="col">Causa</th>
					<th scope="col">Valor Doado</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ação</th>
				</tr>
			</thead>
            
            {% for doacao in doacoes %}
                {% if doacao.pago == False %}
                    <tbody>
                        <tr>
                            <td> {{doacao.causa.titulo}} </td>
                            <td> R$ {{doacao.valor}} </td>
                            <td> {{doacao.usuario.username}} </td>
                            <td> {{doacao.data}} </td>
                            <td>
                                <a href="/validar/confirm/{{ doacao.id }}" class="btn" style="color: #fff; background-color: #07889b;"> Validar </a>
                            </td>
                        </tr>
                        
                    </tbody>
                {% else %}
                    <p>Não há doações para serem validadas</p>
                {% endif %}
                
			{% endfor %}
            
        </table>
    </div>

    {% if evento %}

    {% include "model-footer.html" with teste=evento %}
    {% else %}
        {% include "model-footer.html" %}
    {% endif %}
    {% include "model-js.html" %}
</body>
</html>